@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

/* body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */

body{
  background: #141716;
}

/* for navbar */
@media only screen and (max-width: 769px) {
  .body-font nav {
    display: none;
  }
}

/* Navbar hover */
.hover-text:hover {
  color: #FF5733;
}

.hover-text {
  position: relative;
  display: inline-block;
}

.hover-text::after {
  content: '';
  position: absolute;
  width: 0;
  height: 2px;
  background: #FF5733;
  transition: width .5s;
  bottom: 0;
  left: 0;
}

.hover-text:hover::after {
  width: 100%;
}

/* for navbar scroll*/

.blur-bg {
  backdrop-filter: blur(15px);
}

/* for title */

.title {
  font-family: 'orbitron', sans-serif;
  font-weight: 600;
  font-size: 64px;
  line-height: 130%;
  letter-spacing: .01em;
  color: #eceeed;
  text-align: center;
  padding-bottom: 24px;
}

.desc {
  font-size: 24px;
  font-weight: 400;
  line-height: 150%;
  max-width: 700px;
  padding-top: 20px;
  color: #99a29e;
  padding-bottom: 24px;
}




/* Project*/
.project {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.box {
  background-color: #1f2421;
  /* border: 0px solid #1f2421; */
  margin: 20px;
  padding: 20px;
  height: 325px;
  width: 100%;
  max-width: 1125px;
  box-sizing: border-box;
  border-radius: 30px;
  transition: .3s ease-in-out;
}


.box:hover {
  background-color: #382756;
  border-bottom: 5px solid #6e42ca;
  border-radius: 0;
  transition: .3s;
}

.box1:hover {
  background-color: #396d62;
  border-bottom: 5px solid #11c5a1;
  border-radius: 0;
  transition: .3s;
}

.box2:hover {
  background-color: #8e6d3e;
  border-bottom: 5px solid #E08A10;
  border-radius: 0;
  transition: .3s;
}

.box3:hover {
  background-color: #612d4f;
  border-bottom: 5px solid #E93DAC;
  border-radius: 0;
  transition: .3s;
}




@media only screen and (max-width: 768px) {
  .box {
    width: 90%;
    max-width: none;
  }
}
